body{
    margin: 0;
}
/* back ground */
#Container{
    height: 100vh;
    background-color: rgb(14, 102, 191);
}
/* ball */
#Ball{
    width: 30px;
    height: 28px;
    border-radius: 50%;
    background-color: rgb(85, 20, 20);
    position: relative;
}